; Safety Note:
;
; Do not copy any of these settings blindly!
; Setting the wrong axis dimensions, motor amperage or
; any number of other settings can easily break your
; machine or WORSE, injure you.
; You owe it to yourself to understand these settings
; before using a machine like the Milo.

; SAFETY FIRST!


; Features
; Note we have to SET features, to override
; the defaults (all features disabled)
set global.featureToolSetter=true
set global.featureTouchProbe=true
set global.featureVSSC=true

; Machine Name
global machineName="Milo V1.5 M016"

; Web UI Password
global dwcPassword="rrf"


; Axis Settings
; Override standard axis dimensions or homing speed
set global.xMax=400
set global.xyHomeRepeatSpeed=360

; Parking settings
global parkX={(global.xMax - global.xMin)/2} ; Park approximately in the middle
global parkY=global.yMax                     ; and at the front for operator ease-of-use.
global parkZ=global.zMax                     ; Think VERY hard before parking this anywhere else
                                             ; except Z=0 (zMax)

; Motor Current Overrides
; Note we have to SET these, to override
; the MCU default settings
set global.motorCurrentLimitX=1500
set global.motorCurrentLimitY=1500
set global.motorCurrentLimitZ=1500

; Override Standstill Currents
set global.motorHoldCurrentPercentX=50
set global.motorHoldCurrentPercentY=50
set global.motorHoldCurrentPercentZ=10

; Speed Limit Overrides
; in millimeters per minute
set global.maxSpeedLimitX=2500
set global.maxSpeedLimitY=2500
set global.maxSpeedLimitZ=600

; Set maximum acceleration speeds
; in mm/s^2
set global.maxAccelLimitX=600
set global.maxAccelLimitY=600
set global.maxAccelLimitZ=200

; Set maximum instantaneous speed changes
; in mm/min
set global.maxJerkLimitX=60
set global.maxJerkLimitY=60
set global.maxJerkLimitZ=40

; Safety related configurations
global confirmUnsafeMove=true     ; Set this to false to move automatically to
                                  ; calculated probe locations. ONLY DO THIS WHEN
                                  ; YOU ARE CERTAIN THAT THE PROBING MACROS WORK
                                  ; PERFECTLY FOR YOUR SETUP.

global confirmToolChange=true     ; Set this to false to disable requiring user
                                  ; confirmation after the tool change procedure
                                  ; before continuing. The tool will very likely be
                                  ; spun up instantly when confirming here so be
                                  ; very careful before you proceed!

global safeDistanceZ=20           ; Height above WCS Zero to confirm positioning
                                  ; with user when moving to WCS Zero using macro. 
                                  ; Set this high if you're not certain of the 
                                  ; accuracy of your tool offset, as it avoids the
                                  ; possibility of ramming the tool into the work
                                  ; piece.


; NOTE: The touch probe and toolsetter work in tandem.
; when both features are enabled.
; When probing a surface, we don't know (and can't know)
; the probe stickout. But if we probe a reference surface
; (the X gantry face) and we know the absolute height 
; of the toolsetter switch from the reference surface
; when activated, we can calculate the offset between
; the height of the toolsetter switch where we expect it
; to be activated, and where it is actually activated
; and this is our tool offset. 

; Only configure these with featureToolSetter=true

; Toolsetter measurements

global toolSetterHeight=42.5         ; Height of toolsetter sexbolt surface when activated.
                                     ; from touchprobe reference surface
global toolSetterX=0                 ; X position of center of toolsetter
global toolSetterY=113               ; Y position of center of toolsetter
global toolSetterDistanceZ=5         ; Re-probing distance
global toolSetterJogDistanceZ=10     ; Once rough position of tool is found, back off
                                     ; to allow operator to jog tool over sexbolt.
                                       
global toolSetterNumProbes=5         ; Number of times to activate the toolsetter
                                     ; to calculate an average.
global toolSetterProbeSpeed=50       ; Feed rate to probe at in the Z direction.
global toolSetterProbeRoughSpeed=300 ; Feed rate to detect initial tool position


; Only configure these with featureTouchProbe=true

; Touch probe measurements
global touchProbeNumProbes=5         ; Repeat and average each probe this number of times
global touchProbeRadius=1            ; Radius of ball head on probe. Compensates for
                                     ; the direction in which the probe touches the surface
                                     ; when probing in X/Y directions.
global touchProbeDeflection=0.232    ; Deflection of tool probe before triggering.
                                     ; This needs to be measured against a work piece with
                                     ; a known dimension. Probe the piece using G6000 and
                                     ; it will report the width and length of the work piece
                                     ; in the console. Divide the difference in the known
                                     ; dimension of the work piece vs. the measured dimension
                                     ; and then divide by two to get the deflection value
                                     ; (_on that axis_).
                                     ; Deflection will be a _positive_ value if your measured
                                     ; dimension is less than the known dimension and _negative_
                                     ; if the measured dimension is more than known.
global touchProbeRepeatXY=2          ; Distances that probe will be driven
global touchProbeRepeatZ=2           ; towards X, Y and Z faces of work piece.
                                     ; These values should be _lower_ than the
                                     ; over-travel protection of the touch probe
                                     ; being used, so as not to cause damage to
                                     ; the probe in the event of a failure to
                                     ; trigger.
global touchProbeSafeDistanceXY=20   ; Safe distance to add to operator work piece size estimates
                                     ; this will avoid us moving down into a work piece that
                                     ; the operator guesstimated was smaller than it was.
global touchProbeReferenceX=0        ; X,Y co-ordinates of the reference surface to
global touchProbeReferenceY=65       ; use. The reference surface is a known surface
                                     ; from which offsets can be calculated. The distance
                                     ; in Z from the reference surface to the touch-
                                     ; probe activation point allows us to compensate for
                                     ; the length of the touch probe and tools. 

global probeSpeed=25       ; Speed to probe at in mm/min when calculating surface
                                     ; offsets.
global touchProbeRoughSpeed=300      ; Initial probe towards a surface is performed at this
                                     ; speed in mm/min
global touchProbeDwellTime=200       ; Time to pause after backing away from a surface
                                     ; before repeating a probe, to allow the machine
                                     ; to settle. Especially important if your machine limits
                                     ; are high or your machine is not particularly rigid.



; Daemon settings
; Required for featureLeds and featureVSSC.
global daemonEnable=true     ; Run background tasks in daemon.g
global daemonUpdateRate=500  ; Re-trigger background tasks every 1000ms
                             ; don't reduce this below 500!

                            
; Enable LEDs
set global.ledsEnabled=true

; Override colours
set global.ledColourWarning={255, 0, 0, 255}    ; Red instead of Yellow