// Board Hardware configuration file for Fysetc Spider King 407 Version
board = fysetc_spider_king407;

// NOTE: Generated configuration only supports one type of driver
// at a time. If you're using a mix of driver types, you need to
// edit this file manually for your particular driver setup.

// TMC Smart Drivers, 3 axis.
stepper.SmartDrivers = 3
stepper.TmcDiagPins = { F.6, F.7, F.8, F.11 }
${
    // If steppers are 5160s, configure the relevant SPI settings
    (f['driver_type'] == DRIVER_TYPE_TMC5160 ? [
        ['num5160Drivers', '3'],
        ['spiChannel',     '3'],
        ['csDelay',        '1']
    ].map((l) => 'stepper.' + l.join(' = ')).join('\n') : '')
}

// ESP32 Wifi Pins
8266wifi.espDataReadyPin = G.2
8266wifi.TfrReadyPin = G.1
8266wifi.espResetPin = B.3
8266wifi.serialRxTxPins = { A.10, A.9 }
serial.aux.rxTxPins = { D.9, D.8 }

// LCD
lcd.encoderPinA = BTNEN1
lcd.encoderPinB = BTNEN2
lcd.encoderPinSw = BTNENC
lcd.lcdCSPin = LCDD6
lcd.lcdDCPin = LCDD5
lcd.lcdBeepPin = BEEP
lcd.spiChannel = 2